@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
  --elements-dark: hsl(209, 23%, 22%);
  --elements-light: hsl(0, 0%, 100%);
  --background-dark: hsl(207, 26%, 17%);
  --background-light: hsl(0, 0%, 98%);
  --text-dark: hsl(0, 0%, 100%);
  --text-light: hsl(200, 15%, 8%);
  --input-light: hsl(0, 0%, 52%);
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.dark {
  --elements: var(--elements-dark);
  --background: var(--background-dark);
  --text: var(--text-dark);
}

.light {
  --elements: var(--elements-light);
  --background: var(--background-light);
  --text: var(--text-light);
}

main {
  background-color: var(--background);
  color: var(--text);
}

button {
  color: var(--text);
  font-size: 1rem;
  font-family: "Nunito Sans", sans-serif;
  outline: none;
}
